@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200&family=Roboto&display=swap');

:root {
	--primaryColor: #0096ff;
	--red: #dc1818;
	--white: white;
	--defaultBoxShadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}

html {
	margin: 0;
	padding: 0;
	min-width: 800px;
}

html,
body {
	height: 100%;
	/* max-height: calc(100% - 100px); */
	/* min-height: 650px; */
	font-family: 'Poppins', sans-serif;
}

#root,
.App {
	height: inherit;
	max-height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

h2 {
	font-size: 25px;
	text-align: center;
}

.cursor-pointer {
	cursor: pointer;
}

.navigation-link-small {
	color: var(--primaryColor);
}

/* NAVBAR 
=============================*/
.navbar {
	background-color: var(--primaryColor);
}

.navbar > .container {
	height: 50px;
}

.navbar-brand {
	font-size: 30px;
	font-weight: 900;
}

#basic-nav-dropdown {
	color: white;
	font-size: 20px;
}

.search-bar-container {
	width: 100%;
	/* display: flex;
	justify-content: right;
	align-items: center; */
	flex-direction: column;
	margin: auto;
	margin-top: 8.5px;
}

.search-bar-container > form {
	background-color: var(--white);
	width: 35%;
	margin: auto;
}

.search-bar-container > form > input {
	border: none;
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	border-radius: inherit;
	min-height: 30px;
	width: 100%;
	padding: 6px 0px 6px 10px;
	margin: 0px;
}

.search-bar-container > form > input:-webkit-autofill,
.search-bar-container > form > input:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}

.search-bar-container > form > input:focus {
	outline: none;
	box-shadow: none;
	background-color: white;
}

.search-bar-container > form > button > div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	min-width: 40px;
}

.search-bar-container * .loader-container {
	max-width: 50px;
}
.search-bar-button {
	background-color: transparent;
	border: none;
	border-radius: inherit;
}

.results-table {
	width: 35%;
	margin: auto;
	background-color: white;
	position: relative;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.results-list {
	box-shadow: 5px 10px 10px -2px rgba(0, 0, 0, 0.8);

	background-color: white;
}

.results-data {
	/* padding: 5px 10px 5px 0px; */
	display: flex;
	margin: 5px;
	max-height: 45px;
}

.search-results-avatar {
	margin: 10px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.search-results-name {
	margin: auto auto auto 0;
}

.search-results-add-container {
	display: flex;
	align-items: center;
}

.search-results-add-container > button {
	max-width: 30px;
	max-height: 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: inherit;
	border: none;
}

input:-internal-autofill-selected {
	background-color: white !important;
}

/* LOGIN section and Registration section
============================*/

.login-form-container {
	display: flex;
	min-width: 300px;
	max-width: 450px;
	background-color: var(--white);
	margin: 30px auto;
	padding: 10px 40px;
	border-radius: 15px;
	box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.login-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login-form > div {
	flex-direction: column;
	min-width: 300px;
	margin: 20px 0px;
	width: 100%;
}

.login-button-container {
	display: flex;
	justify-content: center;
}

.login-button-container > button {
	width: 100px;
	height: 30px;
	background-color: lightblue;
	border-radius: 5px;
	border-width: 0px;
	margin: auto;
}

.login-button-container > button:hover {
	box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}

.form-header {
	text-align: center;
	margin-bottom: 10px;
	color: var(--primaryColor);
	font-size: 50px;
}

.input-container {
	position: relative;
	height: 45px;
	width: 90%;
	margin-bottom: 5px;
}

.form-input {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	border: 1px solid #dadce0;
	border-radius: 7px;
	font-size: 15px;
	padding: 0 20px;
	outline: none;
	background: none;
	z-index: 1;
	box-sizing: border-box;
}

::placeholder {
	color: transparent;
}

.label {
	position: absolute;
	top: 10px;
	left: 15px;
	padding: 0 4px;
	background-color: var(--white);
	color: #dadce0;
	font-size: 16px;
	transition: 0.5s;
	z-index: 0;
}

.button-container > button {
	display: block;
	margin: auto;
	padding: 10px 30px;
	border: none;
	background-color: var(--primaryColor);
	color: var(--white);
	border-radius: 5px;
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 5x;
}

.button-container > button:hover {
	box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}

.form-input:focus + .label,
.form-input[notEmpty]:not(:focus) + .label {
	top: -10px;
	left: 3px;
	z-index: 10;
	font-size: 14px;
	font-weight: 600;
	color: var(--primaryColor);
}

/* CONTACTS component section 
========================= */

.contacts-header-container {
	margin: 10px 0px;
}

.contact-item-container {
	box-sizing: border-box;
	margin: 0px;
}

.contact-item-container > button {
	min-width: 100%;
	border: none;
	background-color: var(--white);
	font-size: 20px;
	font-weight: 400;
	border-radius: 5px;
	padding: 10px;
}

.contact-options-container {
	display: flex;
	justify-content: center;
}

.contact-options-button {
	min-width: 30px;
	min-height: 30px;
	max-width: 30px;
	max-height: 30px;
	border-radius: 50%;
	background-color: var(--primaryColor);
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-options-button:hover {
	border: 0.15rem solid darkviolet;
}

.injected-svg {
	color: var(--white);
}

/* CHAT component section
========================= */

.empty-conversation-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 5rem;
}

.placeholder-div {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: end;
}

.empty-conversation-container > p {
	text-align: center;
}

.chat-page-container {
	height: calc(100% - 4.5em);
}

.chat-body-container {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.chat-body-container > p {
	text-align: center;
	margin-bottom: 50px;
}

.chat-header {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
	font-size: 40px;
}

.chat-header:hover {
	cursor: default;
}

.chat-history-container {
	height: 100%;
	display: inline-flex;
	flex-direction: column;
	margin: 0px;
	margin-left: 2rem;
	overflow-y: scroll;
	overflow-x: hidden;
}

.try-again-btn {
	border: none;
	background-color: transparent;
	color: blue;
	letter-spacing: inherit;
	padding: 0;
}

.try-again-btn:hover {
	text-decoration: underline;
}

/* CHAT INPUT component
=========================== */

.input-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.chat-input {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	border-radius: 10px;
	padding: 3px 3px 3px 10px;
	width: 100%;
	margin-left: 10px;
}
.chat-input > form {
	display: inherit;
	width: 100%;
}

.chat-input > form > input {
	width: 100%;
	border-style: none;
	margin-right: 5px;
}

.chat-input > form > input:focus {
	outline: none;
	overflow: visible;
}

.chat-input > form > button {
	border: none;
}

.input-button-svg {
	max-width: 30px;
	max-height: 30px;
	background-color: transparent;
	overflow: visible;
	border: none;
}

.input-button {
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.emoji-button {
	margin-left: 10px;
}

.input-button-svg > div {
	max-height: 100%;
}
.input-button-svg > div > svg {
	width: 100%;
	max-height: 30px;
}

em-emoji-picker {
	position: absolute;
	top: -1100%;
	left: -1%;
}

/* LOADER component 
=========================*/
.loader-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.big-loader {
	border: 5px solid var(--white);
	width: 50px;
	height: 50px;
}

.small-loader {
	border: 3px solid var(--white);
	width: 30px;
	height: 30px;
}

.loader {
	border-radius: 50%;
	border-top: 5px solid var(--primaryColor);
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* MESSAGE ITEM component 
=========================*/

.message-item-container {
	display: flex;
	margin: 10px;
	align-items: center;
}

.text-container {
	background-color: var(--primaryColor);
	border-radius: 5px;
	max-width: 80%;
	display: flex;
	padding: 10px 15px;
	text-align: inherit;
}

.message-item-paragraph {
	font-size: 16px;
	color: var(--white);
	line-height: 1em;
	margin-bottom: 0px;
	text-align: inherit;
	display: block;
	width: 100%;
}

.right-message {
	justify-content: right;
	text-align: right;
}

.left-message {
	justify-content: left;
}

.image-container {
	max-width: 80%;
}

.image {
	width: 100%;
}

/* VIDEOCHAT component
===================== */

.video-chat-container {
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: 100%;
}
.personal-video-container {
	max-width: 200px;
	display: inline;
}

.personal-video-container > video {
	width: 100%;
	pointer-events: none;
}

.video-chat-control-container {
	min-height: 120px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: end;
	margin-top: 10px;
}

.user-video-container {
	position: absolute;
	max-width: 200px;
	max-height: 200px;
}

.contact-video-container {
	margin: auto;
	max-width: 80%;
	height: 100%;
	display: flex;
	align-items: flex-end;
}

.contact-video {
	width: 100%;
	min-width: 500px;
	pointer-events: none;
}

.call-control-container {
	display: flex;
}

.call-control {
	background-color: transparent;
	overflow: visible;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.call-buttons-container {
	display: flex;
	width: 100%;
	min-width: 100%;
	justify-content: center;
	flex-wrap: nowrap;
}

.call-control.small-button {
	max-width: 70px;
	max-height: 70px;
	background-color: var(--primaryColor);
}

.call-control-svg > div > svg {
	max-width: 100%;
}

/* INCOMING CALL DIALOG component 
========================== */

.pending-call-container {
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	font-family: 'Lobster', cursive;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
}

.pending-call-box {
	width: 300px;
	height: 400px;
	background: linear-gradient(
		168.68deg,
		#0052c9 1.12%,
		var(--primaryColor) 100%
	);
	flex: none;
	align-self: inherit;
	border-radius: 2rem;
	box-shadow: 10px 2px 0px 5px rgba(52, 168, 226, 0.05);
}

.pending-call-display {
	margin-top: 4rem;
	color: var(--white);
	height: 100%;
}

.pending-call-display > h3 {
	margin-top: 30px;
	font-size: 30px;
	text-align: center;
}

.pendingcall-header {
	margin-top: 2rem;
	font-size: 4rem;
}

.incoming-call-controls {
	justify-content: space-around;
	padding: 1.5rem;
}

.incoming-call-btn {
	border-radius: 50%;
	height: 70px;
	width: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 5px 2px 0px 5px rgba(52, 168, 226, 0.05);
}

.incoming-call-btn > div > div > svg {
	height: 80px;
	width: 80px;
}

/* RECORDING component 
=====================*/
.recording-control-box {
	background-color: var(--primaryColor);
	border-radius: 30%;
	color: var(--white);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.recording-control-box > button {
	border: none;
	border-radius: 50%;
	background-color: inherit;
	color: inherit;
}

/* ERROR PAGE component */
.error-page-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.error-page-msg-container {
	text-align: center;
}

.error-page-msg-container > button {
	border-width: 0px;
	background-color: var(--primaryColor);
	color: var(--white);
}
.error-page-msg-container > button:hover {
	box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}

/* PHONECALL component
======================= */

.phone-call-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.phone-keypad-container {
	max-width: 180px;
	max-height: 360px;
}

.keypad-btn {
	width: 60px;
	height: 60px;
	font-size: 25px;
	display: inline;
	margin: 0px;
	border: none;
	background-color: white;
}
.keypad-btn * svg {
	width: 100%;
	height: 100%;
}

#phone-input {
	width: 100%;
	height: 60px;
	font-size: 20px;
	border: none;
	text-align: right;
	padding: 20px 10px 0px 5px;
}

.keypad-call-button-container {
	display: flex;
	justify-content: end;
}

.incoming-call-dialog-container {
	width: 200px;
	height: 100px;
	background-color: #222247;
	color: white;
	text-align: center;
	flex-direction: column;
	position: absolute;
	top: calc(100% - 120px);
	left: 2%;
	border-radius: 10px;
	box-shadow: var(--defaultBoxShadow);
}

.incoming-call-dialog-container > p {
	margin: 0px;
	margin-top: 5px;
}

.incoming-call-dialog-container > div {
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
}

.incoming-call-dialog-container * button {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.incoming-call-dialog-container * button:hover {
	box-shadow: var(--defaultBoxShadow);
}

.incoming-call-dialog-container * .answer-btn {
	background-color: #0cdf1a;
}

.incoming-call-dialog-container * .decline-btn {
	background-color: #dc1818;
}

.incoming-call-dialog-container * svg,
.incoming-call-dialog-container * button * div,
.incoming-call-dialog-container * button > div {
	width: 30px;
	height: 30px;
}
